.navBarLinkContainer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 40px;
}
.configIcon{
    height: 35px;
}
.backIcon{
    height: 35px;
    display: flex;
}
.filmIcon{
    height: 35px;
}