.loginContainer{
    margin-top: -500px;
}
.loginFormContainer{
    padding: 30px;
    color: var(--text-white);
    background-color: var(--grey-background);
    width: 55%;
    margin:auto;
    border:var(--grey-button) solid 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    font-weight: 500;
}
.loginLabel{
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}
.loginInput{
    margin-top: 15px;
    width: 35%;
    font-size: large;
    color: var(--text-white);
    background-color: var(--grey-input);
    padding: 15px 35px;
    border-radius: 5px;
    border:0px solid;
}
.loginButton{
    width: 20%;
    background-color: var(--grey-button);
    border: 0px;
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 24px;
    color: var(--text-white);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.ticketIcon{
    height: 17px;
    transform: rotate(-45deg);
    margin-left: 10px;
}