.homeContainer{
    background-color: #00000000;
}

.logo{
    margin-top: -550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--text-white);
}
.logo img{
    height: 350px;
    width: 350px;
}
.logo h1{
    margin-top: -60px;
    font-size: 100px;
}


.cameraIcon{
    max-height:35px;
    margin-right: 10px;
}


.firstTopic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.firstTopic h2{
    color:var(--purple-strong);
    font-size: 35px;
}
.firstTopicDiv hr{
    border:var(--purple-strong) solid 2px;
    max-width: 10%;
}


.secondTopic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.secondTopic h2{
    color:var(--purple-strong);
    font-size: 35px;
}
.secondTopicDiv hr{
    border: var(--purple-strong) solid 2px;
    max-width: 10%;
}